@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: snow;
}

.title {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05em;
  color: snow;
  margin-bottom: 8px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: rgb(3, 112, 189);
}

a:hover {
  color: rgb(57, 166, 244);
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 2;
}

table {
  width: 100%;
}

td {
  padding: 0.5rem;
  color: white;
}

th {
  padding: 0.5rem;
  color: white;
}

th, td {
  border: 1px solid grey;
}

tr {
  transition: all 0.2s ease-in-out;
  color: white ;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
}

tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.results-table {
  max-height: min(55vh, calc(100vh - 400px));
  overflow-y: scroll;
}

.keyboard-key {
  cursor: pointer;
  width: 75px;
  transition: all 0.2s ease-in-out;
  font-family: monospace;
  color: rgb(29, 29, 29);
  border-width: 1px;
  border-radius: 0.5rem;
  border-color: rgb(223, 223, 223);
  padding: 0.1rem 0.8rem;
  line-height: 1.5;
  background-color: rgb(224, 224, 224);
  box-shadow: 0 4px 0px 1px rgb(159, 159, 159);
}

.darker-keyboard-key {
  cursor: pointer;
  width: 75px;
  transition: all 0.2s ease-in-out;
  font-family: monospace;
  color: rgb(191, 191, 191);
  border-width: 1px;
  border-radius: 0.5rem;
  border-color: rgb(223, 223, 223);
  padding: 0.1rem 0.8rem;
  line-height: 1.5;
  margin: 0.4rem;
  background-color: rgb(224, 224, 224, 0.2);
  box-shadow: 0 4px 0px 1px rgb(159, 159, 159);
}


.button {
  transition: all 0.2s ease-in-out;
  font-family: 'Inter', sans-serif;
  color: white;
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

.divider {
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Inter', sans-serif;
  height: calc(100vh - 25px);
  max-height: 100vh;
  overflow: scroll;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.footer {
  position: fixed;
  bottom: 0;
  height: 20px;
  background-color: rgb(var(--background-end-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

blockquote {
  text-indent: -0.45em;
}
@supports ( hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}
blockquote {
    quotes: "“" "”" "‘" "’";
}

/* blockquote::before, blockquote::after {
    font-weight: 700;
    font-size: x-large;
    color: #333333;
} */

.quote {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: #eee;
  padding: 1em;
  border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
  font-family: 'Georgia', serif;
  margin: 0.5em;
}

.close-button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.5rem;
  cursor: pointer;
}